{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.1/css/all.css"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/cas/css/persona.css') }}"
            type="text/css"
            media="screen"
        />

        <link
            rel="stylesheet"
            href="https://e6t7a8v2.stackpathcdn.com/tutorial/css/fontawesome-all.min.css"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="https://e6t7a8v2.stackpathcdn.com/tutorial/css/bootstrap.min.css"
            type="text/css"
            media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/cas/css/modale.css') }}"
                type="text/css"
                media="screen"
        />
    {% endblock %}
{% block title %}Persona{% endblock %}

{% block body %}
    <div class="header">
        <div class="header__bg"></div>
        <div class="header__logo">
        </div>
        <h1 class="header__title">Personas</h1>
        <div class="header__log">
            <svg class="header__log--icon" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
            </svg>
            <p class="header__log--text">Ajouter</p>
        </div>
    </div>

    <div class="about">
        <div class="about__title">
            <h2 class="about__title--text"></h2>
        </div>
        <div class="about__text">
            <p class="about__text--content">
                <div class="container">
                    <div class="cards">
                        {% for persona in personas  %}
                            <a class="card" href="#popup{{ persona.id }}" >
                                {% if persona.photo is not null %}
                                    {% set url = 'bundles/cas/images/personas/'
                                        ~ persona.urlPhoto %}
                                {% endif %}
                                <span class="card-header" style="background-image: url({{ asset(url) }});">
                                    <span class="card-title">
                                        <h3>{{ persona.prenom }} {{ persona.nom }}</h3>
                                    </span>
                                </span>
                                <span class="card-summary">
                                    {{ persona.citation }}
                                </span>
                                <span class="card-meta">
                                </span>
                            </a>

                            <div class="popup" id="popup{{ persona.id }}">
                                <div class="popup-inner">
                                    <div class="popup__photo">
                                        <table>
                                            <tr>
                                                <td style="width: 230px">
                                                    <img src="{{ asset(
                                                        'bundles/cas/images/personas/'
                                                        ~ persona.urlPhoto
                                                    ) }}" alt=""></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left: 5px">
                                                    <h3 class="progress-title">
                                                        Aisance numérique
                                                    </h3>
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar
                                                                progress-bar-striped
                                                                progress-bar-danger"
                                                                 style="width:{{ persona.aisanceNumerique }}%;">
                                                            </div>
                                                            <div class="progress-value">
                                                                <span>{{ persona.aisanceNumerique }}</span>%
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="progress-title">
                                                        Expertise domaine
                                                    </h3>
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar
                                                                progress-bar-striped
                                                                progress-bar-danger" style="width:{{ persona.expertiseDomaine }}%;">
                                                            </div>
                                                            <div class="progress-value">
                                                                <span>{{ persona.expertiseDomaine }}</span>%
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="progress-title">
                                                        Fréquence usage
                                                    </h3>
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar
                                                            progress-bar-striped
                                                            progress-bar-danger" style="width:{{ persona.frequenceUsage }}%;">
                                                            </div>
                                                            <div class="progress-value">
                                                                <span>{{ persona.frequenceUsage }}</span>%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="popup__text">
                                        <h2>{{ persona.prenom }} {{ persona.nom }}</h2>
                                        <h1>{{ persona.age }} ans</h1>
                                        <p>{{ persona.citation }}</p>
                                    </div>
                                    <a class="popup__close" href="#">X</a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </p>
        </div>
    </div>

    {% block javascripts %}
        <script
            type="text/javascript"
            src="{{ asset('bundles/cas/js/persona.js') }}" >
        </script>
        <script
            type="text/javascript"
            src="{{ asset('bundles/cas/js/jquery-1.12.4.min.js') }}" >
        </script>
    {% endblock %}
    {{ dump(personas) }}
{% endblock %}
