{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.1/css/all.css"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/cas/css/persona.css') }}"
            type="text/css"
            media="screen"
        />

        <link
            rel="stylesheet"
            href="https://e6t7a8v2.stackpathcdn.com/tutorial/css/fontawesome-all.min.css"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="https://e6t7a8v2.stackpathcdn.com/tutorial/css/bootstrap.min.css"
            type="text/css"
            media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/cas/css/modale.css') }}"
                type="text/css"
                media="screen"
        />
    {% endblock %}
{% block title %}Persona{% endblock %}

{% block body %}
    <div class="header">
        <div class="header__bg"></div>
        <div class="header__logo">
        </div>
        <h1 class="header__title">Personas</h1>
        <div class="header__log">
            <svg class="header__log--icon" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
            </svg>
            <p class="header__log--text" style="padding-top: 5px">
                <a href="{{path('personaAjouter')}}" style="color: white;">Ajouter</a>
            </p>
        </div>
    </div>

    <div class="about">
        <div class="about__title">
            <h2 class="about__title--text"></h2>
        </div>
        <div class="about__text">
            <p class="about__text--content">
                <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% if app.session.get('enTantQue.seConnecter') is defined
                    and app.session.get('enTantQue.seConnecter')
                %}
                <div class="alert alert-info">
                    Vous êtes connecter en tant que :
                        {{ app.session.get('enTantQue.seConnecter')}}
                    <div align="center">
                        <a href="{{
                        path('personaRestore')
                        }}" class="btn" style="background-color: #B0413E">deconnecter</a>
                    </div>
                </div>
                {% endif %}
                {% include '@Cas/persona/personas.html.twig' %}
                </div>
            </p>
        </div>
    </div>

    {% block javascripts %}
        <script
                type="text/javascript"
                src="{{ asset('bundles/cas/js/jquery-1.12.4.min.js') }}" >
        </script>
        <script
            type="text/javascript"
            src="{{ asset('bundles/cas/js/persona.js') }}" >
        </script>
    {% endblock %}
{% endblock %}
