{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.1/css/all.css"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/cas/css/persona.css') }}"
            type="text/css"
            media="screen"
        />

        <link
            rel="stylesheet"
            href="https://e6t7a8v2.stackpathcdn.com/tutorial/css/fontawesome-all.min.css"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="https://e6t7a8v2.stackpathcdn.com/tutorial/css/bootstrap.min.css"
            type="text/css"
            media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/cas/css/modale.css') }}"
                type="text/css"
                media="screen"
        />
    {% endblock %}
{% block title %}Persona{% endblock %}

{% block body %}
    <div class="header">
        <div class="header__bg"></div>
        <div class="header__logo">
        </div>
        <h1 class="header__title">Personas</h1>
        <div class="header__log">
            <svg class="header__log--icon" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
            </svg>
            <p class="header__log--text" style="padding-top: 5px">
                <a href="{{path('personaAjouter')}}" style="color: white;">Ajouter</a>
            </p>
        </div>
    </div>

    <div class="about">
        <div class="about__title">
            <h2 class="about__title--text"></h2>
        </div>
        <div class="about__text">
            <p class="about__text--content">
                <div class="container">
                {% if app.session.get('enTantQue.seConnecter') is defined
                    and app.session.get('enTantQue.seConnecter')
                %}
                <div class="alert alert-info">
                    Vous êtes connecter en tant que :
                        {{ app.session.get('enTantQue.seConnecter')}}
                </div>
                {% endif %}
                    <div class="cards">
                        {% for persona in personas  %}
                            <a class="card" href="#popup{{ persona.id }}" >
                                {% if persona.photo is not null %}
                                    {% set url = persona.urlPhoto %}
                                {% endif %}
                                <span class="card-header" style="background-image: url({{ asset(url) }});">
                                    <span class="card-title">
                                        <h3>{{ persona.prenom }} {{ persona.nom }}</h3>
                                    </span>
                                </span>
                                <span class="card-summary">
                                    {{ persona.citation }}
                                </span>
                                <span class="card-meta">
                                </span>
                            </a>

                            <div class="popup" id="popup{{ persona.id }}">
                                <div class="popup-inner">
                                    <div class="popup__photo">
                                        <table>
                                            <tr>
                                                <td style="width: 230px">
                                                    <img src="{{ asset(
                                                        persona.urlPhoto
                                                    ) }}" alt=""></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left: 5px">
                                                    <h3 class="progress-title">
                                                        Aisance numérique
                                                    </h3>
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar
                                                                progress-bar-striped
                                                                progress-bar-danger"
                                                                 style="width:{{ persona.aisanceNumerique }}%;">
                                                            </div>
                                                            <div class="progress-value">
                                                                <span>{{ persona.aisanceNumerique }}</span>%
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="progress-title">
                                                        Expertise domaine
                                                    </h3>
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar
                                                                progress-bar-striped
                                                                progress-bar-danger" style="width:{{ persona.expertiseDomaine }}%;">
                                                            </div>
                                                            <div class="progress-value">
                                                                <span>{{ persona.expertiseDomaine }}</span>%
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="progress-title">
                                                        Fréquence usage
                                                    </h3>
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar
                                                            progress-bar-striped
                                                            progress-bar-danger" style="width:{{ persona.frequenceUsage }}%;">
                                                            </div>
                                                            <div class="progress-value">
                                                                <span>{{ persona.frequenceUsage }}</span>%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="popup__text">
                                        <h2>{{ persona.prenom }} {{ persona.nom }}</h2>
                                        <h5>{{ persona.age }} ans, {{ persona.metier }}</h5>
                                        <blockquote>{{ persona.citation }}</blockquote>
                                        <div class="persona_histoire">
                                            {{ persona.histoire }}
                                        </div>
                                        <table style="width: 100%">
                                            <tr>
                                                <td style="width: 50%">
                                                    <h3>
                                                    <img src="{{ asset(
                                                        'bundles/cas/images/personas/cible.svg'
                                                    ) }}" alt="cible" width="24px" height="24px">
                                                    Buts clés</h3>
                                                    {% set buts = persona.buts|split(',') %}
                                                    <ul>
                                                        {% for but in buts %}
                                                            <li>{{ but }}</li>
                                                        {% endfor %}
                                                    </ul>

                                                </td>
                                                <td style="width: 50%">
                                                    <h3>
                                                        <img src="{{ asset(
                                                            'bundles/cas/images/personas/personnalite.png'
                                                        ) }}" alt="cible" width="24px" height="24px">
                                                        Personalité</h3>
                                                    {% set personnalites = persona.personnalite|split(',') %}
                                                    <ul>
                                                        {% for personnalite in personnalites %}
                                                            <li>{{ personnalite }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                        {% if app.session.get('enTantQue.seConnecter') is defined
                                            and app.session.get('enTantQue.seConnecter')
                                            and app.session.get('enTantQue.seConnecter') == persona.username
                                        %}
                                            <div class="alert alert-info">
                                                Vous êtes connecter en tant que :
                                                {{ app.session.get('enTantQue.seConnecter')}}
                                            </div>
                                            <div align="center">
                                                <a href="{{
                                                path('personaRestore')
                                                }}" class="btn" style="background-color: #B0413E">deconnecter</a>
                                            </div>
                                        {% else %}
                                            <div align="center">
                                                <a href="{{
                                                path('personaSeConnecter',
                                                    {'id': persona.id})
                                                }}" class="btn" style="background-color: #B0413E">connecter</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a class="popup__close" href="#">X</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </p>
        </div>
    </div>

    {% block javascripts %}
        <script
            type="text/javascript"
            src="{{ asset('bundles/cas/js/persona.js') }}" >
        </script>
        <script
            type="text/javascript"
            src="{{ asset('bundles/cas/js/jquery-1.12.4.min.js') }}" >
        </script>
    {% endblock %}
{% endblock %}
