<div class="modal fade" id="modalPhoto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-left">Avatar disponibles</div>
                <button type="button" class="close" data-dismiss="modal" title="Close">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body">
                <!--begin carousel-->
                <div id="avatarGallery" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        {% set active = "active" %}
                        {% for key in photos|keys %}
                        <div class="item {{ active }}" id="selectPhoto_{{ photos[key] }}">
                            {% set active = "" %}
                            <img
                                id="photoCarousel_{{ key }}"
                                src="{{ photos[key] }}"
                                alt="{{ key }}"
                                class="carouselImage"
                            >
                            <div class="carousel-caption">
                                <h3>{{ key }}</h3>
                                <p></p>
                            </div>
                        </div>
                        {% endfor %}
                        <!--end carousel-inner--></div>
                    <!--Begin Previous and Next buttons-->
                    <a class="left carousel-control" href="#avatarGallery" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a> <a class="right carousel-control" href="#avatarGallery" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <!--end carousel--></div>

                <!--end modal-body--></div>
            <div class="modal-footer">
                <div class="pull-left">
                    <a href="#">Hommes</a>
                    <a href="#">Femmes</a>
                    <a href="#">Télécharger</a>
                </div>
                <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
            <!--end modal-footer--></div>
        <!--end modal-content--></div>
    <!--end modal-dialoge--></div>
<!--end myModal--></div>