<div class="cards">
    {% for persona in personas  %}
        <a class="card" href="#popup{{ persona.id }}" >
            {% if persona.urlPhoto is not null %}
                {% set url = persona.urlPhoto %}
            {% endif %}
            <span class="card-header" style="background-image: url({{ asset(url) }});">
                                    <span class="card-title">
                                        <h3>{{ persona.prenom }} {{ persona.nom }}</h3>
                                    </span>
                                </span>
            <span class="card-summary">
                                    {{ persona.citation }}
                                </span>
            <span class="card-meta">
                                </span>
        </a>

        <div class="popup" id="popup{{ persona.id }}">
            <div class="popup-inner">
                <div class="popup__photo">
                    <table>
                        <tr>
                            <td style="width: 230px">
                                <img src="{{ asset(
                                    persona.urlPhoto
                                ) }}" alt=""></td>
                        </tr>
                        <tr>
                            <td style="padding-left: 5px">
                                <h3 class="progress-title">
                                    Aisance numérique
                                </h3>
                                <div class="progress-outer">
                                    <div class="progress">
                                        <div class="progress-bar
                                                                progress-bar-striped
                                                                progress-bar-danger"
                                             style="width:{{ persona.aisanceNumerique*20 }}%;">
                                        </div>
                                        <div class="progress-value">
                                            <span>{{ persona.aisanceNumerique*20 }}</span>%
                                        </div>
                                    </div>
                                </div>
                                <h3 class="progress-title">
                                    Expertise domaine
                                </h3>
                                <div class="progress-outer">
                                    <div class="progress">
                                        <div class="progress-bar
                                                                progress-bar-striped
                                                                progress-bar-danger" style="width:{{ persona.expertiseDomaine*20 }}%;">
                                        </div>
                                        <div class="progress-value">
                                            <span>{{ persona.expertiseDomaine*20 }}</span>%
                                        </div>
                                    </div>
                                </div>
                                <h3 class="progress-title">
                                    Fréquence usage
                                </h3>
                                <div class="progress-outer">
                                    <div class="progress">
                                        <div class="progress-bar
                                                            progress-bar-striped
                                                            progress-bar-danger" style="width:{{ persona.frequenceUsage*20 }}%;">
                                        </div>
                                        <div class="progress-value">
                                            <span>{{ persona.frequenceUsage*20 }}</span>%
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="popup__text">
                    <h2>{{ persona.prenom }} {{ persona.nom }}</h2>
                    <h5>{{ persona.age }} ans, {{ persona.metier }}</h5>
                    <blockquote>{{ persona.citation }}</blockquote>
                    <div class="persona_histoire">
                        {{ persona.histoire }}
                    </div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 50%">
                                <h3>
                                    <img src="{{ asset(
                                        'bundles/cas/images/personas/cible.svg'
                                    ) }}" alt="cible" width="24px" height="24px">
                                    Buts clés</h3>
                                {% set buts = persona.buts|split(';') %}
                                <ul>
                                    {% for but in buts %}
                                        <li>{{ but }}</li>
                                    {% endfor %}
                                </ul>

                            </td>
                            <td style="width: 50%">
                                <h3>
                                    <img src="{{ asset(
                                        'bundles/cas/images/personas/personnalite.png'
                                    ) }}" alt="cible" width="24px" height="24px">
                                    Personalité</h3>
                                {% set personnalites = persona.personnalite|split(';') %}
                                <ul>
                                    {% for personnalite in personnalites %}
                                        <li>{{ personnalite }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                    {% if app.session.get('enTantQue.seConnecter') is defined
                        and app.session.get('enTantQue.seConnecter')
                        and app.session.get('enTantQue.seConnecter') == persona.username
                    %}
                        <div class="alert alert-info">
                            Vous êtes connecter en tant que :
                            {{ app.session.get('enTantQue.seConnecter')}}
                        </div>
                        <div align="center">
                            <a href="{{
                            path('personaRestore')
                            }}" class="btn" style="background-color: #B0413E">deconnecter</a>
                        </div>
                    {% else %}
                        <div align="center">
                            <a href="{{
                            path('personaSeConnecter',
                                {'id': persona.id})
                            }}" class="btn" style="background-color: #B0413E">connecter</a>
                        </div>
                    {% endif %}
                </div>
                <a href="{{
                path('personaModifier',
                    {'id': persona.id})
                }}" class="popup__modifier"></a>
                <a href="{{
                path('personaSupprimer',
                    {'id': persona.id})
                }}" class="popup__supprimer"
                   onclick="return confirm(
                                       'Etes vous sure de voulioir supprimer ' +
                                        'ce persona?'
                                   )"
                ></a>
                <a class="popup__close" href="#">X</a>
            </div>
        </div>
    {% endfor %}
</div>